@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
/* 
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root{
   --gradient-text:linear-gradient(0deg, rgb(79, 79, 79) 0%, rgb(143, 142, 141) 100%); 
  /* --gradient-text:linear-gradient(0deg, rgb(59, 252, 255) 0%, rgb(52, 54, 54) 100%);  */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'poppins',sans-serif;
}

.navbar{

  position: sticky;
  top: 0;
  z-index: 1000;
  font-family:'Poppins', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray !important;
  padding-right:3% ;
  padding-left: 2%;
 
  background: grey;
  color: #3c3e3c;
  

 
}

.cart-icon{
  color: white;
  font-size: 18px;
  display: inline-block;
  margin-left: 10px;
}
.cart-icon:hover{
  color: aqua;
}
.nav-link{
  font-weight: 100;
   color: white;
 
  
}

.navbar-nav a:hover{
  color: aqua;
}

.navbar-brand{
  font-weight: 500;
  text-decoration: none;
  font-family: "poppins",sans-serif;
  letter-spacing: 1px;
  color: #3c3e3c;

}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'poppins', sans-serif;
}
.navbar-toggler{
  color: white;
 position: relative;
 right: -20%;
  
}


.navbar-toggler-icon{
  color: white;
}

.collapse{
  color: white;
}
@media(max-width:990px){
  .navbar-toggler{
    position: relative;
    right:-25%;
  }
}
@media(max-width:800px){
  .navbar-toggler{
    position: relative;
    right: -22%;
  }
}
@media(max-width:600px){
  .navbar-toggler{
    position: relative;
    right: -10%;
  }
}
@media(max-width:500px){
  .navbar-toggler{
    position: relative;
  right: 0;
  }
}


/* home page carousel .........................*/
.carousel-item{
  height: 70vh;
}
.carousel-caption h5{
  color: #222f3e;
  font-size: 26px;
  font-family: "poppins",sans-serif;
  font-weight: 400;
}
.carousel-caption p{
  font-size: 12px;
  font-family: "poppins",sans-serif;
  font-weight: 400; 
  color: #2c2828;
}
.carousel-caption button{
  border:1px solid #222f3e;
  border-radius: 25px;
  padding: 2px;
 background: transparent;
  width: 100px;
 
}
.carousel-caption button a{
 font-size: 12px;
 text-decoration: none;
  font-weight: 400;
  color:#222f3e;
}
/* pagenotfound ....................,......*/
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

/* contact................................. */

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}


/* register ................................................*/
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;


}
.reg-main{
  /* : rgb(75 85 99) */
  background: grey;  
  /* background: linear-gradient(0deg ,rgb(31, 41, 55),rgb(31, 41, 55)); */
  box-shadow: gray 0px 2px 2px;
  padding: 50px;
  margin-top: 2%;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  align-items: center;
  text-align: center;
  color: whitesmoke;
  font-family: 'poppins',sans-serif;
  
h1{
  color: whitesmoke;
}

  input{
    background-color:rgb(216, 216, 216) ;
    color: beige;
    margin: 2px;
  }
button{
  width: 100%;
  background-color: aqua;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
button:hover{
  background-color: lightblue;
  color: black;
}
}

/* product list */
.product-link{
  text-decoration: none;
  color: black !important;
}
.list-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 50px;
  margin: 30px;
  border-radius: 6px;
  background-color: white;
}
.format{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap : 10px;
  width:100%;
  height: 100%;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.product-format{
  align-items: center;
  font-weight: 500;
 text-decoration: none;
  
}
.all-product{
  overflow-y: auto;
  Link{
    text-decoration: none;
  }
}
.product-icon{
  height: 80px;
}
@media(max-width:800px){
  .list-product{
    box-sizing: border-box;
    height: 100%;
    width: 95%;
    padding: 10px 30px;
    margin: 30px auto;
  }
  .format{
    padding: 15px 0px;
    color: #454545;
    font-size: 12px;

  }
  .product-icon{
    height: 60px;
  }
}




/* product card */
.card{
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  border: none;
  
}
.content{
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  /* border-radius: 20px; */
  cursor: pointer;
  padding-top: 10px;
  /* box-shadow: 0 2px 6px rgba(100, 100, 100, 0.25),
  0 3px 8px rgba(0,0,0,0.22); */
  transition: .4s;
  background: #fbfbfb;
  h3{
    
    font-size: 16px;
    
    text-transform: uppercase;
    margin: 0;
    padding-top:8px;
    font-weight: 500;
  }
  img{
    width: 100%;
    height: 250px;
    text-align: center;
    /* margin: 0 auto; */
    display: block;
    /* border-radius: 15px 15px 0 0; */
  }
  p{
    display: none;
    color: #899093;
    padding-top: 0 ;
    padding-left:11%;
    font-size: 12px;
  }
  h6{
    font-size: 14px;
   padding-top: 2%;
   color: #222f3e;
 
   font-weight: 300;
   
    margin: 0;
  }
  button{
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    width: 60px;
    padding: 0px 5px;
    border: 0;
    outline: none;
    cursor: pointer;
   margin: 2% 2%;
   border-radius: 20px;


  }
  .details{
    background:#585858;
    
  }
  .details:hover{
    background:black;
  }
  .add-to-cart{
   background: #585858;
   
  }
  .add-to-cart:hover{
   color: black;
  }
  
}
.content:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  0 3px 6px rgba(0,0,0,0.23);
  transform: translate(0px ,-8px);
}
@media(max-width:1000px){
  .content{
    width: 45%;
  img{
    width: 100%;
  }
  }
}
@media(max-width:750px){
  .content{
    width: 40%;
    img{
      width: 100%;
      height: 200px;
    }
  }
}

/* about card */
@media(max-width:750px){
  .about{
    img{
     height: 100px;
    }
  }
  
}

.about-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 20px;
  p{
    font-family: "poppins",sans-serif;
  }

}
.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  margin: 20px;

}
.info-about{
  font-size: 12px;
  font-weight: 200;
  text-align: justify;
  padding: 12px 8px;
  font-family: "poppins",sans-serif;

}
.title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 1%;
  font-family: "poppins",sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid gray;
  border-radius: 1rem;
}

.flip-card-front {
  background:linear-gradient(120deg, #545655 30%, #3c3e3c 88%,
  rgb(190, 189, 189) 40%, #959698 78%);
  color: #fff;
}

.flip-card-back {
  background:linear-gradient(120deg, #545655 30%, #3c3e3c 88%,
  rgb(190, 189, 189) 40%, #959698 78%);
  color: white;
  transform: rotateY(180deg);
}


/* category product card */
.category-product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
   border: none; 
}

/* hero section */

.gpt3-header{
  display: flex;
  padding: 1%;
  margin: 0% 2%;
  flex-wrap: wrap;
 


}





.gpt3-header-content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5rem;
  
}
.gpt3-header-content-main{
  width: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.gpt3-header-content h1{
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size:40px;
  line-height: 52px;
  padding-top: 5%;
  letter-spacing: -.01em;
}
.gpt3-header-content p{
  font-family: "poppins", sans-serif;
  font-size: 14px;
  
  font-weight: 300;
  line-height: 20px;
  color:#676666;
  margin-top: 1rem;
}
.gpt3-header-content button{
  width: 100px;
  height: 38px;
   font-family:"poppins",sans-serif;
  font-size: 14px;
  font-weight: 500;
   background: #919492;
   border-radius:25px;
   color: #fff;
   cursor: pointer;
   outline:none;
   padding: 0 2px;
   border: none;
}
.gpt3-header-content-input{
  width: 100%;
  /* margin: 2rem 0 1rem; */
  display: flex;
}

.gpt3-header-content-input button{
  
  width: 100px;
 height: 38px;
  font-family:"poppins",sans-serif;
 font-size: 14px;
 font-weight: 500;
  background: #919492;
  border-radius:25px;
  color: #fff;
  cursor: pointer;
  outline:none;
  padding: 0 2px;
  border: none;
 

  
}

.gpt3-header-img{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.gpt3-header-img img {
  width:80%;
  height: 50%;
  border-radius: 25px;

}
@media screen and (max-width:1050px){
  .gpt3-header{
      flex-direction: row;
  }
  .gpt3-header-content{
      margin: 0 0 3rem;
  }
}
@media screen and (max-width:850px){
  .gpt3-header{
      flex-direction: column;
  }
  .gpt3-header h1{
    font-size: 32px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
  }
  .gpt3-header-img{
      height: 350px;
  }
  .gpt3-header-img img {
    width: 100%;
    height: 250px;

  }
}

@media screen and (max-width:700px){
  .gpt3-header h1{
    font-size: 28px;
    line-height: 32px;
  }
  .gpt3-header p{
      font-size:14px ;
      line-height: 20px;
  }
  .gpt3-header-content-input input,
  .gpt3-header-content-input button{
     font-size: 14px;
     line-height: 16px;
  }
}
@media screen and (max-width:600px){
  .gpt3-header-img img {
    width: 100%;
    height: 240px;
  }
}
@media screen and (max-width:500px){
  .gpt3-header{
      margin-left: 0px;
      padding: 3% 2%;
  }
  .gpt3-header h1{
    font-size: 22px;
    line-height: 30px;
    font-family: 'Playfair Display', serif;
  }
  .gpt3-header-img img {
    width: 100%;
    height: 200px;
    
  }
  .gpt3-header-content-input input,
  .gpt3-header-content-input button{
     font-size: 14px;
     line-height: 16px;
  }
  /* .gpt3-header-img img{
       height: 300px;
  } */
}
/* about banner */
.about-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: gray;
  padding: 3%;
  margin: 10%;
  
}
.about-banner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5%;
  h1{
    font-size: 35px;
    font-weight: 400;
    color: #d5d5d5;
    font-family: "poppins",sans-serif;
  }
  p{
    color: aliceblue;
    font-size: 14px;
    margin-top: 15px;
  }
}

.banner{
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 6%;
  text-align: center;
  flex-wrap: wrap; 
 
 
}

.banner-image img{
  width: 100%;
  height: 55vh;
  }
.banner-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 text-align: left;

 width: 50%;
  padding: 2%;
  margin: 2%;
  padding-right: 5%;
  
  h1{
    font-size:45px;
    color: #222f3e;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 45px;
    /* margin-bottom: 3rem; */
  

  }
  p{
    font-size: 15px;
    font-weight: 300;
    color: #919492;
    
  }
  button{
    background: grey;
       width: 100px;
    padding: 2px;
    border-radius: 25px;
    border: 2px solid gray;
   
a{
  color: #f2f2f2;
}
  }
  
  button:hover a{
    color: aqua;
   
  }
}
.banner-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
  padding: 2%;

}
.banner-box{
  margin: 1% 3% ;
  padding: 10px;
  background:#fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0px;
  

  p{
    color: #222f3e;
    font-size: 12px;
    line-height: 20px;
    font-family: "poppins",sans-serif;
  }
}
.carosel{
  h1{
    margin-top: 3%;
      font-size: 38px;
      font-family: "poppins",sans-serif ;
      padding: 10px;
      font-weight: 500;
      text-transform: uppercase;
    
  }
}
.slider-items{

margin-right: 5%;
}
.item{
  width: 120px;
  margin: 10% 0;
 
  
}
.item img{
  width: 100%;
  height: 60px;
  border-radius:50%;
  margin: 5%;
}
.banner-cat{
  height: 250px;
position: relative;
overflow: hidden;
margin-bottom: 2%;


  h1{
    font-size: 38px;
    font-family: "poppins",sans-serif;
    text-transform: uppercase;
  }
}
.banner-cat-card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;


}
.cat-img{

  max-width: 60px;
  min-width: 60px;
  height: 80px;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
  margin: 0.2%;
 
  p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    font-weight: 300;
  }

}
.cat-img img{
 height: 60%;
 width: 50%;
 border-radius: 0px;
}
.banner-cat-box{
  position: relative;
  overflow: hidden;

 }
.prebtn,
.nextbtn{
  border: none;
  width: 30px;
  height: 100%;
  position: absolute;
  
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: center;
  
}
.nextbtn{
  right: 0;
}
.prebtn p,
.nextbtn p{
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0.377);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px grey;
}





/* contact */
.contact-p{
  padding: 0px 28px;
}
@media screen and (max-width:1150px) and (min-width:770px) {
 .contact-img img{
      height: 400px;
      width: 100%;
      

    }
  
}
@media screen and (max-width:2000px) and (min-width:770px) {
  .contact-img img{
       height: 400px;
       padding-top: 70px;
 
     }
 }



 /* about */


 

.info-about1,
.info-about2,
.info-about3{
  font-size: 8px;
  position: absolute;
  padding: 10px;
  width: 70px;
  text-align: center;
  height: 50px;
  border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
  display: block;
  box-shadow: 0 10px 10px rgba(100, 100, 100, 0.25),
  0 3px 8px rgba(0,0,0,0.22);
  border: 1px solid aqua;
  outline: 2px solid rgb(72, 70, 70);
  z-index: 100;
  /* animation:morph 6s linear infinite; */
  animation: forwards 6s linear infinite;
  background:transparent;
}
.info-about1{
  left: 10%;
  top: 34%;

}
.info-about2{
  left: 66%;
  top: 15%;

}
.info-about3{
  left: 61%;
  top: 70%;
  
}

@media screen and (max-width:700px){
  .info-about1,
.info-about2,
.info-about3{
  font-size: 2px;
  padding: 2px;
  padding-top: 8px;
  font-weight: 100;
  height: 70px;
  width: 90px;
  font-family: "poppins",sans-serif;
}
.banner-content{
  width: 100%;
}
.banner-image img{
  height:35vh;
}
}

@media screen and (max-width:500px){
  .info-about1,
.info-about2,
.info-about3{
 display: none;
}
.banner-image img{
  height:25vh;
}
}
@media screen and (max-width:1300px){
  
.banner-image img{
  height:50vh;
}


}
@media screen and (max-width:1000px){
  
  .banner-content{
    width: 100%;
  }
  
  
  }